<div style="display: flex;">
  <div class="bathroom"> <b>Baños</b> </div>
  <div style="display: flex; flex-direction: column">
    <div class="roomrow">
      <a href="/rooms/1/hours" class="room"> <b>Sala 1</b> </a>
      <a href="/rooms/2/hours" class="room"> <b>Sala 2</b> </a>
      <div class="shop"> <b>Tienda</b> </div>
      <a href="/rooms/3/hours" class="room"> <b>Sala 3</b> </a>
      <a href="/rooms/4/hours" class="room"> <b>Sala 4</b> </a>
    </div>
    <div class="roomrow">
      <a href="/rooms/5/hours" class="room"> <b>Sala 5</b> </a>
      <a href="/rooms/6/hours" class="room"> <b>Sala 6</b> </a>
      <div class="entrance"> <b>Entrada</b> </div>
      <a href="/rooms/7/hours" class="room"> <b>Sala 7</b> </a>
      <a href="/rooms/8/hours" class="room"> <b>Sala 8</b> </a>
    </div>
  </div>
  <div class="bathroom"> <b>Baños</b> </div>
</div>
