.roomrow {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.room {
    padding: 50px 50px;
    background-color: lightblue;
    text-align: center;
    font-size: large;
    text-decoration: none;
}

.shop {
    padding: 50px 70px;
    background-color: lightcoral;
    text-align: center;
    font-size: large;
}

.entrance {
    padding: 50px 50px;
    background-color: white;
    text-align: center;
    font-size: large;
}

.bathroom {
    padding: 100px 50px;
    background-color: lightsalmon;
    text-align: center;
    font-size: large;
    writing-mode: vertical-lr;
}

.corridor {
    padding: 100px 50px;
    background-color: rgb(80, 216, 216);
    text-align: center;
    font-size: large;
    writing-mode: vertical-lr;
    width: 5px;
}

.screen {
    padding: 50px 50px;
    margin-left: 30px;
    margin-right: 30px;
    height: 10px;
    color: white;
    background-color:rgb(47, 114, 134);
    text-align: center;
    font-size: large;
    text-decoration: none;
}

.image {
    width: 200px;
    height: 230px;
    text-align: center;
}

.title_movie {
    text-align: center;
}

.movies_in_room {
    border:solid 1px; 
    width: 200px; 
    padding: 10px; 
    text-align: center; 
    margin: 5px;
}

.structure_of_movies_in_room {
    display: flex; 
    flex-flow: row wrap;
}

.movies_in_index_of_movies{
    border: solid 1px; 
    width: 200px; 
    padding: 10px; 
    text-align: center; 
    margin: 5px;
}

.structure_of_index_of_movies {
    display: flex; 
    flex-flow: row wrap;
}

.if_not_occupied {
    background-color: lightblue;
}

.if_occupied {
    background-color: red;
}

.blocks_of_columns {
    display: flex;
}

.block_column {
    display: flex; flex-direction: column
}

.link_to_hour_object {
    text-align: left;
}